.khan__book-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  align-self: flex-start;
}

.khan__book-link:hover {
  opacity: 0.6;
}
